<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/js/vue.js"></script>
    <title>v-model 绑定数据源 实例</title>
    
</head>
<body>
    <h1>v-model 绑定数据源 实例</h1>
    <hr>
    <div id="app">

        <p>原始文本信息：{{message}}！</p>
        <h3>文本框</h3>
        <p>v-model-----<input type="text" v-model="message"></p>
        <p>v-model:lazy-----<input type="text" v-model.lazy="message"></p>        <!--  懒加载 失去焦点时绑定数据-->
        <p>v-model:number-----<input type="text" v-model.number="message"></p>    <!--  数字输入  坑坑坑 只能先输入数字 -->
        <p>v-model:trim-----<input type="text" v-model.trim="message"></p>        <!--  输入首尾空格过滤 -->
        <hr>
        <h3>文本域 数据绑定</h3>
        <textarea cols="30" rows="10" v-model="message"></textarea>
        <hr>
        <h3>多选按钮绑定一个值</h3>
        <input type="checkbox" id="ones" v-model="istrue">
        <label for="ones">{{istrue}}</label>
        <hr>
        <h3>多选按钮绑定一个数组</h3>
        <p>
            <span v-for="sta in stars">
                    <input type="checkbox" :id="sta.name" :value="sta.name" v-model="w_names">
                    <label :for="sta.name"> {{sta.name}} </label>
            </span>
            <h4>
                <span v-for="iii in w_names">
                    {{iii}}.
                </span>
            </h4>

        </p>
        <hr>
        <h3>单选按钮绑定一个数组</h3>
        <p>
            <input type="radio" id="one" value="男" v-model="sex">
            <label for="one">男</label>
            <input type="radio" id="two" value="女" v-model="sex">
            <label for="one">女</label>
            <p>你选择的性别是：{{sex}}</p>
        </p>

    </div>




    <script type="text/javascript">
    
        var app=new Vue({
            el:'#app',
            data:{
                message:'hello wuwei',
                istrue:true,
                stars:[
                    {name:'koala',age:'23'},
                    {name:'wuwei',age:'12'},
                    {name:'chao',age:'8'},
                    {name:'xiaoshu',age:'18'},
                ],
                w_names:[],
                sex:'男'
            } 
        })
    
    
    </script>
</body>
</html>