<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/js/vue.js"></script>
    <title>v-for 实例</title>
    
</head>
<body>
    <h1>v-for 实例</h1>
    <hr>
    <div id="app">
       <ul>
           <li v-for='item in sortItem'>
               {{item}}
           </li>
       </ul>
       <hr>
       <ul>
           <li v-for='(star,index) in sortStar'>
            GX000{{index+1}}：：{{star.name}} <--> {{star.age}}
           </li>
       </ul>
    </div>


    <script type="text/javascript">

     
        
        var app=new Vue({
            el:'#app',
            data:{
                items:[22,45,18,654,12,78,654,42],
                stars:[
                    {name:'koala',age:'23'},
                    {name:'wuwei',age:'12'},
                    {name:'chao',age:'8'},
                    {name:'xiaoshu',age:'18'},
                ]
            },
            computed:{
                sortItem:function(){
                    return this.items.sort(sortNumber);
                },
                sortStar:function(){
                    return sortByKey(this.stars,'age');
                }
                
            } 
        });

        function sortNumber(a,b){
            return a-b;
        };

        //数组对象方法排序:
        function sortByKey(array,key){
            return array.sort(function(a,b){
            var x=a[key];
            var y=b[key];
            return (x-y);
        });
        }
    
    
    </script>
</body>
</html>